body{
    background-color: #5CDB95;
}

img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header{
    text-align: center;
    color : #EDF5E1;
    font-family : "Cooper Black";
}

.paragraph{
    text-indent: 50px;
    text-align: justify;
    color : #EDF5E1;
    font-family : Verdana;
}

.point{
    color : #EDF5E1;
    font-family : Verdana;
}